{% extends "base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}
<h1>Inbox</h1>
<p>Welcome, {{ session['username'] }}!</p>
<ul>
    {% for message in messages %}
        <li>
            From: {{ message['sender'] }}
            <a href="{{ url_for('view_message', msg_id=loop.index0) }}">View Message</a>
        </li>
    {% else %}
        <li>No messages.</li>
    {% endfor %}
</ul>
<p><a href="{{ url_for('send_message') }}">Send a Message</a> | <a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}